# Ignorar dependências instaladas na raiz
/node_modules

# Ignorar a pasta de build do deploy do gh-pages
/dist

# Arquivos de ambiente (se houver algum na raiz)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
